<div class="modal-header">
  <h4 class="modal-title">{{ 'REGISTER' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #accountForm="ngForm" (submit)="onSubmitRegister(accountForm)">
    <div class="form-group">
      <label for="exampleInputEmail1">{{ 'EMAIL_ADDRESS' | translate }}</label>
      <input
        type="email"
        class="form-control"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        ngModel
        email
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">{{ 'PASSWORD' | translate }}</label>
      <input type="password" class="form-control" name="password" placeholder="Password" ngModel />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">{{ 'MOBILE' | translate }}</label>
      <input type="number" class="form-control" name="mobile" placeholder="mobile" ngModel />
    </div>
    <button type="submit" class="btn btn-primary">{{ 'SUBMIT' | translate }}</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
