<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a (click)="changeLanguage()"> {{ 'APP_NAME' | translate }}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive #rla="routerLinkActive"
          >Home <span *ngIf="rla.isActive" class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/myLetters']">{{ 'MY_LETTERS' | translate }}</a>
      </li>
    </ul>
    <a class="btn" *ngIf="!isLoggedIn" (click)="loginModal()">{{ 'LOGIN' | translate }}</a>
    <a class="btn" *ngIf="!isLoggedIn" (click)="registerModal()">{{ 'REGISTER' | translate }}</a>
    <a class="btn" *ngIf="isLoggedIn" (click)="logOff()">{{ 'LOG_OUT' | translate }}</a>
  </div>
</nav>
<div class="container"><router-outlet></router-outlet></div>
